#grid {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    
}

.square {
    border: 1px solid;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:aqua;
    transition: 0,3 s;
    cursor: pointer;
}

.square:active {
    background-color:rgb(0, 89, 255);
   
}
 

header{
    display: flex;
    align-items: center;
    width: 80%;
    margin:auto
}
img{
    width: 150px;
}